<div class="sidebar">

  <div class="logo">
    <span class="dot"></span>
    <h3>CrediGuard</h3>
  </div>

  <nav>

    <a routerLink="/admin/dashboard" routerLinkActive="active">
      <span class="nav-icon"><mat-icon>dashboard</mat-icon></span>
      <span>Dashboard</span>
    </a>

    <a routerLink="/admin/users" routerLinkActive="active">
      <span class="nav-icon"><mat-icon>groups</mat-icon></span>
      <span>Users</span>
    </a>

    <a routerLink="/admin/security" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>admin_panel_settings</mat-icon></span>
  <span>Security</span>
</a>
<a routerLink="/admin/ecommerce" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>shopping_bag</mat-icon></span>
  <span>E-Commerce</span>
</a>

<a routerLink="/admin/finance" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>account_balance_wallet</mat-icon></span>
  <span>Finance</span>
</a>

<a routerLink="/admin/credit" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>account_balance</mat-icon></span>
  <span>Credit</span>
</a>

<a routerLink="/admin/partners-insurance" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>handshake</mat-icon></span>
  <span>Partners & Insurance</span>
</a>
<a routerLink="/admin/partners-insurance/policies" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>verified_user</mat-icon></span>
  <span>Policies</span>
</a>



<a routerLink="/admin/crowdfunding" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>rocket_launch</mat-icon></span>
  <span>Crowdfunding</span>
</a>

<a routerLink="/admin/events" routerLinkActive="active-link" class="menu-item">
  <span class="nav-icon"><mat-icon>event</mat-icon></span>
  <span>Events</span>
</a>

  </nav>

</div>
